<div class="users-index">
  <h1>Users</h1>

  <%= paginate @users, theme: 'bootstrap-5',
                       pagination_class: "justify-content-center" %>
  
  <ul class="users mt-3">
    <%= render @users %>
  </ul>

  <%= paginate @users, theme: 'bootstrap-5',
                       pagination_class: "justify-content-center" %>
</div>
