<div class="users-show">
  <h1>マイページ</h1>
  
  <ul class="list-group">
    <li class="list-group-item user-info">
      <%= image_tag @user.avatar_url %>
      <p><%= @user.name %></p>
    </li>
    <li class="list-group-item">
      <p>やりたいこと</p>
      <div class="count">50</div>
    </li>
    <li class="list-group-item">
      <p>達成したこと</p>
      <div class="count">50</div>
    </li>
  </ul>

</div>
