<div class="users-show">
  <h1>マイページ</h1>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item user-info">
          <p>img</p> <!-- 画像を取得する画像がなかったらデフォルトを表示 -->
          <p><%= @user.name %></p>
        </li>
        <li class="list-group-item">やりたいこと</li>
        <li class="list-group-item">達成したこと</li>
      </ul>
    </div>
  </div>
  <div class="info">
    <%= @user.name %>
  </div>
</div>
