<li id="list-item-<%= list_item.id %>" class="col">
  <div class="card">
    <div class="card-body">
      <a href="#" class="accomplish" 
                  data-bs-toggle="tooltip" 
                  data-bs-placement="top" title="達成!">
        <i class="fa-solid fa-circle-check fa-2x"></i>
      </a>
      <p class="card-text"><%= list_item.content %></p>
      <p class="timestamp text-end"><%= list_item.process_created_at %></p>
    </div>
    <div class="card-footer bg-transparent d-flex justify-content-between">
      <div class="like">
        <a href="#" class="like-btn">
          <i class="fa-regular fa-thumbs-up fa-lg"></i>
        </a>
        <span>いいね数</span>
      </div>

      <ul class="d-flex">
        <li>
          <a href="#" class="edit">
            <i class="fa-regular fa-pen-to-square fa-lg"></i>
          </a>
        </li>
        <li>
          <a href="#" class="delete">
            <i class="fa-regular fa-trash-can fa-lg"></i>
          </a>
        </li>
      </ul>

    </div>
  </div>
</li>
